body {
  --main-color: #36465D;
  --main-background: #e6ecf0;
  overflow-x: hidden;
  height: 100%;
}

.app{
  height: 100%;
  width: 100%;
}

.nav{
  display: flex;
  flex-direction: column;
  background-color: white; 
  height: 80px;
  width: 100%;
  
}
